.Info {
    .notice {
        background-color: #9B1FE9;
        text-align: center;
        color: white;
        padding: 25px;
    }

    .heading {
        color: #9B1FE9;
        margin-top: 25px;
        padding-inline: 40px;
    }

    .para-text {
        padding-inline: 40px;
        margin-top: 18px;
        line-height: 26px;
    }

}